ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #1fb98b;
    color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url('IMGS/mountain_view_dark.jpg');
  background-size: cover;
  background-position: center;
}

header {
  color: #000000;
  text-align: center;
  padding: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: url('IMGS/mountain_view_1.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 16px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

p {
  font-size: 16;
  margin: 0;
}

section {
  margin-bottom: 32px;
}

h2 {
  font-size: 32px;
}

footer {
  text-align: center;
  padding: 16px;
  background-color: #333;
  color: #fff;
}